# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# BUILD OUTPUTS
# =========================
dist/
build/
out/
.cache/
.tmp/

# =========================
# ENV / SECRETOS
# =========================
.env
.env.*
*.env.local

# =========================
# FRAMEWORKS
# =========================
.next/
.nuxt/
.svelte-kit/
.vite/
.vercel/
.netlify/

# =========================
# TYPECHECK
# =========================
*.tsbuildinfo

# =========================
# COVERAGE
# =========================
coverage/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# CSS / BUILD TEMP
# =========================
*.map

# =========================
# CACHE / COMPILADOS
# =========================
.eslintcache
.parcel-cache/

# =========================
# MISC
# =========================
*.tmp
*.bak
*.swp
